name: ci

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.22'
      - name: Go env
        run: go env
      - name: Go fmt
        run: test -z "$(gofmt -l cmd internal)"
      - name: Go vet
        run: go vet ./...
      - name: Go test
        run: go test ./...
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v6
        with:
          version: v1.56.2
      - name: Build API
        run: go build ./cmd/api
      - name: Build worker
        run: go build ./cmd/worker
